header {
    float: left;
    margin: 0 0 20px 0;
    padding: 2px 0 0 0;
    width: 100%;
    background: #6ab47b;
    border-color: #599a68;
}

h1  {
 font-family: 'Changa One', sans-serif;
 margin: 10px 0;
 font-size: 1.75em;
 font-weight: normal;
 line-height: 0.5;
 text-align: center;
 color: #ffffff;

 }

 h2  {


 font-size: 1.00em;
 font-weight: normal;
 margin: -5px 0 0;
     text-align: center;
     color: #ffffff;
 }

 nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
  }

  nav ul  {
    list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
  display: inline-block;

}

footer {
 font-size: 0.75em;
 text-align: center;
 clear: both;
 padding-top: 50px;
 color: #ccc;
 }

 #wrapper {
   max-width: 940px;
   margin: 0 auto;
   padding: 0 5%;

 }

.myimage {
    float:left;
    width:150px;
    height:175px;
    margin:20px;
    border-radius: 20px;
}

<!-- Google maps -->

.mapouter {
    position:relative;
    text-align:right;
    height:500px;
    width:600px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:600px;
}

.iframe {
    width:600px;
    height:500px;
    frameborder:0px;
    scrolling:no;
    marginheight:0px;
    marginwidth:0px;
}